body {
    background-color: lightblue;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
    text-align: center;
}

#button {
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    background-color: white;
    font-family: sans-serif;
    color: black;
    margin: auto;
    height: 40px;
    width: 220px;
}

#search_button {
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    background-color: white;
    font-family: sans-serif;
    color: black;
    margin: auto;
    height: 40px;
    width: 220px;
}

#button:hover {
    border-color: white;
    background-color: black;
    color: white;
}

#search_button:hover {
    border-color: white;
    background-color: black;
    color: white;
}

div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    font-family: sans-serif;
    color: black;
    text-align: center;
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 6px;
}

#refresh
{
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    background-color: white;
    font-family: sans-serif;
    color: black;
    margin: auto auto 10px auto;
    height: 40px;
    width: 200px;
    display: none;
}

#search_refresh
{
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    background-color: white;
    font-family: sans-serif;
    color: black;
    margin: auto auto 10px auto;
    height: 40px;
    width: 200px;
    display: none;
}

#search_refresh:hover {
    border-color: white;
    background-color: black;
    color: white;
}

#refresh:hover {
    border-color: white;
    background-color: black;
    color: white;
}

#query {
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    background-color: white;
    font-family: sans-serif;
    color: black;
    height: 40px;
    width: 500px;
}