body {
    background-color: lightblue;
}

#button {
    font-family: sans-serif;
    color: black;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 200px;
}

div {
    font-family: sans-serif;
    color: black;
    text-align: center;
}