body {
    background-color: lightblue;
}

#button {
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    background-color: white;
    font-family: sans-serif;
    color: black;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 200px;
}

#button:hover {
    border-color: white;
    background-color: black;
    color: white;
}

div {
    font-family: sans-serif;
    color: black;
    text-align: center;
    background-color: white;
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 6px;
}
